/* Change Password CSS */

#changepassword {
    display: flex;
    width: 90%;
    flex-direction: column;
    background: var(--color-section-bg);
    margin: 1rem auto;
    padding: 1rem;
    gap: 3rem;
    border-radius: 10px;
}

#changepassword h1 {
    font-size: 2rem;
}

#changepassword form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#changepassword form input {
    width: 100%;
    font-size: 1rem;
    outline: none;
    padding: 5px 5px 5px 10px;
    color: var(--color-fg);
    background: transparent;
    border: 1px solid var(--color-fg);
    border-radius: 5px;
}

#changepassword #error {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-danger);
}

#changepassword form button {
    width: fit-content;
    font-size: 1.2rem;
    color: var(--color-fg);
    padding: 5px 20px;
    background: transparent;
    border: 1px solid var(--color-fg);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

#changepassword form button:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

#changepassword .danger {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 3rem 0;
}

#changepassword .danger a:first-child {
    width: fit-content;
    padding: 5px 20px;
    border: 1px solid var(--color-fg);
    border-radius: 5px;
    transition: 0.5s ease;
}

#changepassword .danger a:first-child:hover  {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

#changepassword .danger a:last-child {
    width: fit-content;
    padding: 5px 20px;
    color: var(--color-fg);
    border: 1px solid var(--color-danger);
    border-radius: 5px;
    transition: 0.5s ease;
}

#changepassword .danger a:last-child:hover {
    color: var(--color-danger);
    transform: scale(0.97);
}