{% extends 'global/scenes/all.html' %}
{% block content %}
<!-- About Section Starts Here -->
<section id="about">
    <h1>About Us</h1>
    <div class="about-section">
        <div class="left">
            <h3>Who We Are</h3>
            <p>At ProVisits, we are a team of passionate individuals committed to redefining the concept of business
                cards for the modern world. Our vision is to empower professionals and businesses by providing them
                with a dynamic and interactive online presence through digital visiting cards.</p>
        </div>
        <div class="right">
            <h4>What We Offer</h4>
            <div class="about-pills">
                <div class="pill">
                    <b>Seamless Digital Presence</b>
                    <p>With ProVisits, create and share your digital visiting card effortlessly. </p>
                </div>
                <div class="pill">
                    <b>Customization at Your Fingertips</b>
                    <p>Tailor your digital card to reflect your personality and brand.</p>
                </div>
                <div class="pill">
                    <b>Dynamic and Always Updated</b>
                    <p>Your ProVisits card is never outdated and never lost. Always with you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-section">
        <div class="left">
            <h3>Our Mission</h3>
            <p>Our mission at ProVisits is to revolutionize the way professionals connect and network in the digital
                age. We believe in the power of a strong online presence, and we are here to provide you with the
                tools to make that a reality.</p>
        </div>
        <div class="right">
            <h4>What We Offer</h4>
            <div class="about-pills">
                <div class="pill">
                    <b>Innovative Solutions</b>
                    <p>Stay ahead of the curve with our innovative digital visiting card platform.</p>
                </div>
                <div class="pill">
                    <b>User-Friendly Experience</b>
                    <p>We understand the importance of simplicity and effetiveness Lorem, ipsum.</p>
                </div>
                <div class="pill">
                    <b>Support and Community</b>
                    <p>Join a community of professionals leveraging the power of digital identity.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section Ends Here -->
{% endblock %}