{% extends 'global/scenes/all.html' %}
{% block content %}
{% load static %}
<!-- Home Section Starts Here -->
<section id="home">
    <div class="left"><img src="{% static 'heroicon.png' %}" alt="HeroImage"></div>
    <div class="right">
        <h3>Empower Networking with ProVisits.</h3>
        <p>Welcome to ProVisits, where we transform the way you represent yourself in the digital realm. Our online
            visiting card app is designed with innovation, simplicity, and your unique identity in mind.</p>
        <a href="/signup">Get Card Now</a>
    </div>
</section>
<!-- Home Section Ends Here -->
{% endblock %}