{% extends 'global/scenes/all.html' %}
{% block content %}
<!-- Source Code Section Starts Here -->
<div id="source-code">
    <h1><a target="_blank" href="https://github.com/rudrakumarmishraa">Source Code</a></h1>
    <div>
        <h3>Front-End Technologies</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
    </div>
    <div>
        <h3>Backend-End Technologies</h3>
        <ul>
            <li>Django</li>
            <li>SQL</li>
        </ul>
    </div>
    <div>
        <h3>Payment Gateway</h3>
        <p><a target="_blank" href="https://razorpay.com/">Razorpay</a> was used to build ProVisits. It helps processes online payments for online as well as offline businesses. Razorpay allows you to accept credit cards, debit cards, netbanking, wallet, and UPI payments with the Mobile App plugin. It uses a seamles integration, allowing the customer to pay on your website without being redirected away.</p>
    </div>
</div>
<!-- Source Code Section Ends Here -->
{% endblock %}