 <!-- Navbar Section Starts Here -->
 <header id="navbar">
<a href="#" class="hero"><img src="https://img.icons8.com/nolan/64/bank-card-back-side.png" alt="BrandLogo">ProVisits</a>
<nav class="navigation">
<a class="{% if title == 'Home' %}active{% endif %}" href="/">Home</a>
<a class="{% if title == 'About' %}active{% endif %}" href="/about">About</a>
<a class="{% if title == 'Testimonials' %}active{% endif %}" href="/testimonials">Testimonials</a>
<a class="{% if title == 'Contact Us' %}active{% endif %}" href="/contactus">Contact Us</a>
<a class="login" href="/signin">Sign In</a>
</nav>
<svg id="bars" viewBox="0 0 448 512">
<path opacity="1" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
</svg>
</header>
<!-- Navbar Section Ends Here -->